:root {
  --r400: #de350b;
  --r500: #bf2600;
  --g200: #57d9a3;
  --b200: #2684ff;
  --b400: #0052cc;
  --n10: #fafbfc;
  --n40: #dfe1e6;
  --n100: #7a869a;
  --n200: #6b778c;
  --n400a: rgba(9, 30, 66, 0.71);
}

body {
  margin: 0;
  padding: 0;
}
